<div class="nav-container">
    <a href="/">Home <i class="fa-solid fa-igloo"></i></a>
    <a href="/drones">All the drones <i class="fa-brands fa-fly"></i></a>
    <a href="/drones/create">Create a drone <i class="fa-solid fa-screwdriver-wrench"></i></a>
</div>